<!DOCTYPE html>
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--this ensures proper rendering and touch zooming on your site. add: maximum-scale=1, user-scalable=no" to remove the auto zoom on mobile phones.
-->
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<link rel="stylesheet" href="css/styles.css">
<!-- om man har ett costume style sheet så länkar man det efter bootstrap -->

</head>
<body>

    <div class="list-group">
        <button class="list-group-item">item</button>
        <button class="list-group-item">item</button>
        <button class="list-group-item">item</button>
        <button class="list-group-item">item</button>
    </div>

    <ul class="list-group">
        <li class="list-group-item-warning">item</li>
        <li class="list-group-item-info">item</li>
        <li class="list-group-item-success">item</li>
        <a href="#"><li class="list-group-item-danger">item</li></a>
    </ul>

    <div class="list-group">
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">H4h4h4h4</h4>
            <p class="list-group-item-text">some textttt</p>
        </a>
        <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">H4h4h4h4</h4>
                <p class="list-group-item-text">some textttt</p>
            </a>
    </div>
</body>
</html>