<!DOCTYPE html>
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--this ensures proper rendering and touch zooming on your site. add: maximum-scale=1, user-scalable=no" to remove the auto zoom on mobile phones.
-->
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<link rel="stylesheet" href="css/styles.css">
<!-- om man har ett costume style sheet så länkar man det efter bootstrap -->

</head>
<body>

    <nav>

        <ul class="nav nav-tabs nav-justified">
            <li><a href="#">Tab</a></li>
            <li><a href="#">Tab</a></li>
            <li class="active"><a href="#">Tab</a></li>
            <li><a href="#">Tab</a></li>
            <li><a href="#">Tab</a></li>
        </ul>
    </nav>
    <nav>
            
                    <ul class="nav nav-pills">
                        <li><a href="#">Tab</a></li>
                        <li><a href="#">Tab</a></li>
                        <li class="active"><a href="#">Tab</a></li>
                        <li><a href="#">Tab</a></li>
                        <li><a href="#">Tab</a></li>
                    </ul>
                </nav>

                <nav>
                        
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Tab</a></li>
                                    <li><a href="#">Tab</a></li>
                                    <li class="active"><a href="#">Tab</a></li>
                                    <li><a href="#">Tab</a></li>
                                    <li><a href="#">Tab</a></li>
                                </ul>
                            </nav>
</body>
</html>