<!DOCTYPE html>
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--this ensures proper rendering and touch zooming on your site. add: maximum-scale=1, user-scalable=no" to remove the auto zoom on mobile phones.
-->
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<link rel="stylesheet" href="css/styles.css">
<!-- om man har ett costume style sheet så länkar man det efter bootstrap -->

</head>
<body>
    <div class="row">
            <div class="col-xs-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="panel-title">My heading title</div>
                        </div>
                        <div class="panel-body">My panel body</div>
                        <div class="panel-footer">my panel footer</div>
                    </div>
                </div>
                
                <div class="col-xs-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">My heading title</div>
                            </div>
                            <div class="panel-body">My panel body</div>
                            <div class="panel-footer">my panel footer</div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <div class="panel-title">My heading title</div>
                                </div>
                                <div class="panel-body">My panel body</div>
                                <div class="panel-footer">my panel footer</div>
                            </div>
                        </div>
                        
                    
        </div>
</body>
</html>